@import '../../../scss/abstract/variables';
@import '../../../scss/tools/rem-calc';

:host {
  main {
    position: relative;
    margin-bottom: 24px;
    .container {
      min-height: 100vh;
      section {
        font: $font-description-info;
        color: $smoke;
        margin-top: 40px;
        .position {
          margin-left: 24px;
        }
      }
      .app-card {
        height: 90px;
        box-sizing: border-box;
        background: white;
        box-shadow: 0px 0px 5px #00000033;
        border-radius: 4px;
        color: $dark-smoke;
        cursor: pointer;
        font: $font-info-characters;
        transition: all ease 0.2s;
        &:hover {
          box-shadow: 0px 10px 20px 5px rgba(0, 0, 0, 0.5);
          transform: translateY(-1px);
        }
        &-position {
          margin-left: 24px;
        }
        &-name {
          margin-left: 24px;
          font: $font-name-characters;
        }
      }
    }
  }

  footer {
    position: relative;
    bottom: 0;
    background-color: $white;
    width: 100%;
    height: rem-calc(90);
  }
}
