@import '../../../scss/abstract/variables';
@import '../../../scss/tools/rem-calc';

:host {
  .listing {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: rem-calc(30);
    margin-bottom: rem-calc(120);
    &-name {
      padding: rem-calc(24);
      font: $font-description-info;
      color: $smoke;
    }
    .marvel {
      position: relative;
      display: flex;
      background: $white;
      width: calc(100% - 2.5rem);
      height: rem-calc(88);
      margin-bottom: rem-calc(10);
      padding-left: rem-calc(24);
      box-shadow: 0px 0px rem-calc(5) $border-shodow;
      border-radius: rem-calc(4);
      text-decoration: none;
      color: $dark-smoke;
      section {
        ul {
          img {
            width: rem-calc(48);
            height: rem-calc(48);
            border-radius: rem-calc(4);
            margin-right: rem-calc(24);
          }
        }
        .marvelHeros {
          font: $font-name-characters;
        }
      }
      p {
        font: $font-info-characters !important;
      }
    }
  }
  @media (max-width: 790px) {
    .listing {
      justify-content: center;
      &-series {
        display: none !important;
      }
      &-events {
        display: none !important;
      }
      .marvel {
        section {
          width: 100%;
        }
        p {
          display: none !important;
        }
      }
    }
  }
  @media (max-width: 590px) {
    section {
      width: rem-calc(327);
      a {
        width: 100%;
      }
    }
  }
}
