<app-marvel-search (emmitSearch)="getSearch($event)"></app-marvel-search>
<div class="output">
  <div class="container">
    <section class="listagem row">
      <div class="listagem-name row">
        <div class="col-4">Personagens</div>
        <div class="col-4">Series</div>
        <div class="col-4">Eventos</div>
      </div>
      <ng-template
        ngFor
        let-pokemon
        [ngForOf]="getAllPokemons | slice
  : (pagination.currentPage - 1) * pagination.pageSize
  : pagination.currentPage * pagination.pageSize "
      >
        <a [routerLink]="['details', pokemon.id]" class="pokemon col-12 d-flex align-items-center" *ngIf="pokemon.name">
          <section class="pokemon__status d-flex align-items-center row col-4">
            <ul>
              <img src="{{pokemon.thumbnail.path}}.{{pokemon.thumbnail.extension}}" width="52" alt="" />
            </ul>
            <h2>{{ pokemon.name }}</h2>
          </section>
          <section class="row">
            <div class="col-12 align-items-center">
              <ul *ngFor="let item of pokemon.series.items; let i =index">
                <div *ngIf="i<3">
                  <p>{{item.name}}</p>
                </div>
              </ul>
            </div>
          </section>
          <section class="row">
            <div class="col-12 align-items-center">
              <ul *ngFor="let item of pokemon.events.items; let i =index">
                <div *ngIf="i<4">
                  <p>{{item.name}}</p>
                </div>
              </ul>
            </div>
          </section>
        </a>
      </ng-template>
    </section>
  </div>
</div>

<footer class="row d-flex justify-content-center align-items-center">
  <div class="a">
    <app-marvel-pagination
      #pagination
      [collectionSize]="getAllPokemons.length"
      [pageSize]="10"
      [firstLastButtons]="true"
      [maxSize]="5"
    ></app-marvel-pagination>
  </div>
</footer>
