<header>
  <nav class="row d-flex justify-content-between align-items-center">
    <img src="assets/image/logo.svg" alt="Logo Objective" />
    <ul class="d-flex justify-content-between align-items-center">
      <li>
        <div class="candidate row d-flex justify-content-center align-items-center">
          <div class="candidate-name">Cleiton Sampaio</div>
          <div class="candidate-info">Teste de Front-end</div>
        </div>
      </li>
      <li>
        <div class="icon row d-flex justify-content-center align-items-center">
          <div class="icon-sigle">cb</div>
        </div>
      </li>
    </ul>
  </nav>
</header>
