@import '../../../scss/abstract/variables';
@import '../../../scss/tools/rem-calc';

:host {
  main {
    margin-top: rem-calc(40);
    .container {
      color: $dark-smoke;
      section {
        article {
          h1 {
            font: $font-title-search-characters;
            margin-bottom: rem-calc(16);
          }
          h2 {
            font: $font-subtitle-character-name;
            margin-bottom: rem-calc(8);
          }
          form {
            width: rem-calc(295);
            height: rem-calc(32);
            background-color: $white;
            border: 1px solid #e5e5e5;
            border-radius: rem-calc(4);
            input {
              width: 95%;
              padding: 0px 16px;
              &::placeholder {
                font: $font-search;
                color: $smoke;
              }
            }
            img {
              padding: 0 16px;
            }
          }
        }
      }
    }
  }
  @media (max-width: 790px) {
    main {
      .container {
        section {
          article {
            display: flex;
            flex-direction: column;
            align-items: center;
            h1 {
              font-size: rem-calc(24) !important;
            }
            h2 {
              font-size: rem-calc(14) !important;
            }
            form {
              width: rem-calc(327) !important;
            }
          }
        }
      }
    }
  }
}
