@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Caption:wght@700&family=Poppins:wght@300&display=swap');

$white: #ffffff;
$snow: #f5f5f5;
$dark-snow: #e5e5e5;
$smoke: #8e8e8e;
$dark-smoke: #555555;
$dark-blue: #167abc;
$border-shodow: #00000033;

$font-candidate-name: normal normal bold 14px/20px PT Sans Caption;
$font-candidate-info: normal normal normal 14px/20px PT Sans Caption;
$font-candidate-icon: normal normal bold 15px/10px PT Sans Caption;
$font-title-search-characters: normal normal bold 32px/30px PT Sans Caption;
$font-subtitle-character-name: normal normal bold 16px/24px PT Sans Caption;
$font-search: italic normal normal 14px/19px PT Sans;
$font-description-info: normal normal normal 12px/16px PT Sans;
$font-name-characters: normal normal bold 16px/22px PT Sans Caption;
$font-description-characters: normal normal bold 16px/22px PT Sans;
$font-info-characters: normal normal normal 14px/16px PT Sans;
